image: busybox

pages:
  stage: deploy
  script:
    - echo "Début du déploiement"
    - echo "const firebaseConfig = {apiKey: \"${FIREBASE_API_KEY}\", authDomain: \"${FIREBASE_AUTH_DOMAIN}\", databaseURL: \"${FIREBASE_DATABASE_URL}\", projectId: \"${FIREBASE_PROJECT_ID}\", storageBucket: \"${FIREBASE_STORAGE_BUCKET}\", messagingSenderId: \"${FIREBASE_MESSAGING_SENDER_ID}\", appId: \"${FIREBASE_APP_ID}\", measurementId: \"${FIREBASE_MEASUREMENT_ID}\"};" > public/firebase-config.js
    - "sed -i 's/const firebaseConfig = {.*};/\\/\\/ Configuration externe\\n    <\\/script>\\n    <script src=\"firebase-config.js\"><\\/script>\\n    <script>/' public/index.html"
    - echo "Fin du déploiement"
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH