image: busybox

pages:
  stage: deploy
  script:
  - mkdir -p temp
  - echo "const firebaseConfig = {};" > temp/firebase-config.js
  - cp -r public/* temp/ || echo "No files to copy"
  - rm -rf public
  - mv temp public
  artifacts:
    paths:
    - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH